{
  "root": true,
  "extends": ["@react-native-community", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "no-shadow": "off",
        "no-undef": "off"
      }
    }
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "react-native/no-inline-styles": "off"
  }
}
